<header class="header" id="header">
  <div class="effect"></div>
  <div class="header-image">
    <img src="/image/header.webp" alt="" />
  </div>
  <div class="header-items">
    <div class="header-items-header">
      <h2>The Dream of Your Future is Here</h2>
      <h4>Come Join Us</h4>
    </div>
    <div class="searchbar">
      <input type="text" name="" placeholder="Search..." id="searching" />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <div class="social-media-icon">
      <div class="left">
        <a href="https://www.instagram.com/artefilex/?hl=tr">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/Artefilex">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <div class="right">
        <a href="https://twitter.com/baris_tuncdemir">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/baris-tuncdemir/">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</header>
