<div id="login-area" >
  <div class="register-show">
    <div class="form-area">
      <button class="close-btn" id="closeBtnLogin">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
      <form method="POST" class="form-register" id="formValue-login">
        <div class="form-group">
          <h6>User Name:</h6>
          <input type="text" name="loginUserName" id="email-login" />
        </div>
        <div class="form-group">
          <h6>Email:</h6>
          <input type="email" name="loginMail" id="email-login" />
        </div>
        <div class="form-group">
          <h6>Password:</h6>
          <input type="password" name="loginPassword" id="password-login" />
        </div>

        <div>
          <button id="submitBtn-login" type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
