<div id="register" >
  <div class="register-show">
    <div class="form-area">
      <button class="close-btn" id="closeBtn">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
      <form method="POST" class="form-register" id="formValue">
        <div class="form-group">
          <h6>User Name:</h6>
          <input type="text" name="userName" id="userName" required />
        </div>
        <div class="form-group">
          <h6>First Name:</h6>
          <input type="text" name="firstName" id="firstName" required />
        </div>
        <div class="form-group">
          <h6>Last Name:</h6>
          <input type="text" name="lastName" id="lastName" required />
        </div>
        <div class="form-group">
          <h6>Email:</h6>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="form-group">
          <h6>Password:</h6>
          <input type="password" name="password" id="password" required />
        </div>

        <div>
          <button id="submitBTn" type="submit">Join</button>
        </div>
      </form>
    </div>
  </div>
</div>